.form{
    background-color: rgba(4, 56, 82, 0.80);
    border: 5px solid black;
    border-radius: 30px;
    width: 1000px;
    height: 500px;
}

.text{
    font-family: "Lucida Sans Typewriter";
    color: white;
}

.button{
    width: 100px;
    height: 25px;
}

.blockError{
border: 3px solid red;
}

.textError{
 color: red;
}

