.App {
   background-image: url(https://rare-gallery.com/uploads/posts/340156-Rick-and-Morty-Cartoon-Morty-Smith-Rick-Sanchez-Night-Sky-Space-Stars.jpg);
   background-size: 100% 100%;
   background-attachment: fixed;
   height: 100vh;
}

